@import '~antd/dist/antd.css';

.App {
  overflow-x: hidden;
}

.ant-form-item-label > label{
  font-size : 16px
}
.ant-form-item {
  margin-bottom:5px;
}
.ant-form-item-label > label::after {
  content: '';
  font-size:'2em';
  font-weight: bold;
}